<!-- app/views/dimension_histories/_table.html.erb -->

<h1 class="mt-4">Dimension Histories</h1>

<!-- Bảng Dimension Histories -->
<table class="table">
  <thead>
    <tr>
      <th>URL</th>
      <th>Datetime</th>
      <th>Mac Address</th>
      <th>Result Code</th>
      <th>Result Name</th>
      <th>Width</th>
      <th>Length</th>
      <th>Height</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <% @dimension_histories.each do |history| %>
      <tr>
        <td><%= history.url %></td>
        <td><%= history.datetime %></td>
        <td><%= history.mac_address %></td>
        <td><%= history.result_code %></td>
        <td><%= history.result_name %></td>
        <td><%= history.width %></td>
        <td><%= history.length %></td>
        <td><%= history.height %></td>
        <td><%= history.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>
